* {
  margin: 0;
}
.title {
  color: #00ACCC;
  font-size: 1.5rem;
  padding: 10vh 0 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-family: "poppins-bold";
}
a {
  text-decoration: none;
  color: #eee;
}
p {
  font-family: serif;
}
body{
  font-family: sans-serif;
  color: #eee;
  text-align: center;
  font-size: 10px;
}
#navbar {
  position: fixed;
  width: 100%;
  background: #be3144; 
}
#navbar > ul {
  display: flex;
  justify-content: flex-end;
  align-itemns: center;
  list-style: none;
}
#navbar > ul li {
  font-size: 1.5rem;
  padding: 1rem;
}
#navbar > ul > a:hover{
  background: #151515;
}
#welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #1a1d20;
}
#photo {
  max-height: 10rem;
  border-radius: 50%;
  margin: 1.5rem 1rem 0 0;
}
#welcome h1 {
  font-size: 5rem;
}
#welcome p{
  font-size: 1.5rem;
  font-style: italic;
  color: #be3144;
}
#projects {
  padding-bottom: 5vh;
  min-height: 100vh;
  background: #ebebeb;
  color: #222;
  display: flex ;
  flex-direction: column;
}
.section-header > p{
  display: inline-block;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "poppins-semibold", serif;
  letter-spacing: -.1rem;
  padding: 0 0.5rem 0.5rem;
  border-bottom: solid 2px;
}
#projects-div {
  width: 80%;
  flex:1;
  margin: 5vh auto 0;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.project {
  background: #303841;
  border: solid #303841 2px;
  height: 35%;
  width: 35%;
}
.project-image {
  width: 100%;
  height: calc(100% - 2.5rem);
  object-fit: cover;
}
.project-title {
  font-size: 1.5rem;
}
#degrade {
  height: 3vh;
  width: 100%;
  background-image: linear-gradient(180deg, #ebebeb, #151515);
}
#contact {
  background: #151515;
  min-height: 95vh;
}
#contact-title {
  padding: 9vh 0 9vh;
}
#contact-main {
  margin: 20vh 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20vh;
}
.contact-link {
  font-size: 2.5rem;
  padding: 0 1rem;
  margin: 0 1.5rem;
}
.contact-link:hover {
  border-bottom: solid 1px; 
}
#dados {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  min-width: 60%;
}
.dados-link {
  color: #00ACCC;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-family: "poppins-bold";
  font-weight: bold;
}
.dado > p {
  padding: 1rem;
  font-size: 1.2rem;
  color: #aaa;
}
#footer {
  height: 4vh;
  background: #151515;
  font-size: 1.2rem;
  color: #aaa;
  padding: 0 0 1rem;
}
.break {
  flex-basis: 100%;
  height: 0;
}
@media (max-width: 900px) {
  #welcome {
    flex-direction: column;
  }
}
@media (max-width: 1400px) {
  #projects-div {
    width: 100%;
  }
  .project {
    width: 70%;
  }
}
@media (max-width: 750px) {
  #navbar > ul li {
    font-size: 1.2rem;
  }
  #welcome h1 {
    font-size: 3rem;
  }
  #welcome p{
    font-size: 1.3rem;
  }
  .section-header > p{
    font-size: 1.7rem;
  }
  #contact-main {
    margin-top: 10vh;
    gap: 10vh;
  }
  #redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  .contact-link {
    font-size: 2rem;
  }
  #dados {
    flex-direction: column;
    gap: 3vh;
  }
  .dados-link {
    font-size: 1.2rem; 
  }
}